body {
  background-color: hsl(0, 0%, 56%);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

table {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  margin: 10px auto 0 auto;
  max-width: 80%;
}

th {
  background-color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}